.carousel-inner {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    .carousel-item {
        width: 100%;
        height: 500px !important;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

